* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font: 13px Helvetica, Arial;
}
#header {
    text-align: right;
    padding-right: 10px;
}
form#user {
    display: block;
    width: 300px;
    margin: 0 auto; 
    margin-top: 15%;
    border: 5px solid grey;
}
form#user input[type=text] {
    text-align: center;
    height: 30px;
    width: 100%;
    border: none;
}
form#user input[type=submit] {
    width: 100%;
    background-color: lightgrey;
    height: 35px;
    border: none;
}
form#chat {
   background: #000;
   padding: 3px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
form#chat input {
   border: 0;
   padding: 10px;
   width: 90%;
   margin-right: .5%;
}
form#chat button {
   width: 9%;
   background: rgb(130, 224, 255);
   border: none;
   padding: 10px;
}
#messages {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#messages li {
   padding: 5px 10px;
}
#messages li.me {
   background: #eee;
   text-align: right;
}
#messages span {
   font-weight: 700;
   font-size: 16px 
}

